<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoltCity | Select Role</title>
    <link rel="stylesheet" href="static\css\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="hub-container">
        <header class="hub-header">
            <h1 class="logo"><i class="fa-solid fa-bolt"></i> VoltCity</h1>
            <p>Applied Analytical Models Assignment</p>
        </header>

        <div class="role-selection">
            <a href="/car" class="role-card user-card">
                <div class="icon-box">
                    <i class="fa-solid fa-car"></i>
                </div>
                <h2>Driver View</h2>
                <p>Plan charges, view costs & get AI recommendations.</p>
                <span class="btn-fake">Enter Dashboard &rarr;</span>
            </a>

            <a href="admin.html" class="role-card admin-card">
                <div class="icon-box">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h2>Admin View</h2>
                <p>Monitor fairness, anomalies & optimize the grid.</p>
                <span class="btn-fake">Enter Dashboard &rarr;</span>
            </a>
        </div>
    </div>
</body>
</html>